.card-item{
    background-color: orangered;
    cursor:pointer;
    transition: all 0.3s;
    &:hover{
        transform: scale(1.1);
        transition: all 0.3s
    }
}
.card-top{
    height: 300px;
}
img{
    width: 300px;
    height: 300px;
}
.card-bottom{
padding: 20px;
}
.card-info{
    color: black;
    h4{
      font-size:20px;
      font-weight:400; 
      margin-bottom: 10px;
    }

}